.cart-dropdown{
    position: absolute;
    width:250px;
    height: 340px;
    display:flex;
    flex-direction:column;
    padding:20px;
    border: 1px solid black;
    background-color: white;
    top:80px;
    right:0;
    z-index: 5;
    overflow-y: scroll;
    margin-right:10px;
    .cart-value{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;

    }
    .empty-message{
        margin: 50px auto;
        color: gray;
        font-size: 20px;
    }
    .carrt-items{
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    button{
        margin-top: auto;
    }
}


/* total width */
::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:4px solid #fff
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}
